<!DOCTYPE html>
<html>
<head>
    <title>Automan</title>

    <!-- STYLES -->
    <link rel="stylesheet" href="lib\bootstrap-3.3.7-dist\css\bootstrap.min.css"></head>
    <link rel="stylesheet" href="styles.css"></link>

    <!-- LIB SCRIPTS -->    
    <script type="text/javascript" src="lib\jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="lib\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
   

    <!-- GAME SCRIPTS -->
    <script type="text/javascript" src="math.js"></script>
    <script type="text/javascript" src="settings.js"></script>
    <script type="text/javascript" src="Viewport.js"></script>
    <script type="text/javascript" src="FPSTracker.js"></script>
    <script type="text/javascript" src="Block.js"></script>
    <script type="text/javascript" src="GameGrid.js"></script>
    <script type="text/javascript" src="GameCanvas.js"></script>
    <script type="text/javascript" src="InputState.js"></script>
    <script type="text/javascript" src="InputController.js"></script>
    <script type="text/javascript" src="GameManager.js"></script>
    <script type="text/javascript" src="game.js"></script>

    <script type="text/javascript" src="lib\angular.min.js"></script>
    
</head>
<body class="background-gray">
    <div ng-app="automan" ng-controller="mainController">
        <div class="row">        
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <canvas id="game-canvas"></canvas>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" >
            <div class="col-md-1"></div>
            <div class="col-md-2 background-white">
                <div class="row">FPS: {{fpsTracker.fps}}</div>
            </div>
            <div class="col-md-8 background-white">
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="settings.LOG_FPS">Log FPS</label>
                  <label><input type="checkbox" ng-model="settings.LOG_CHUNK_GENERATION_REQUESTS">Log Chunk Generation</label>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</body>
</html>

